<!DOCTYPE html>
<html lang="pl">

<%- include('./partials/head') %>

<body class="relative bg-vdark-gray m-0 text-white font-sans h-screen overflow-x-hidden">
    <%# Main panel %>
    <section class="flex flex-col main-panel absolute h-full z-50 transition-all duration-200">
        <div class="main-panel-bg-layer"></div>
        <%# Channel info %>
        <div class="flex items-center justify-between bg-dark-gray p-4 w-screen rounded-t-lg">
            <div class="flex items-center">
                <%# Hamburger %>
                <button class="menu-btn mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>

                <%# Channel type %>
                <div class="mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#babbc0">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                    </svg>
                </div>

                <%# Channel name %>
                <p class="text-xl font-bold">główny</p>
            </div>

            <%# Users list %>
            <div class="right-0 flex">
                <button class="users-list-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="#babbc0">
                        <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                    </svg>
                </button>
            </div>
        </div>


        <%# Chat content %>
        <main class="flex-auto chat-messages bg-primary w-screen overflow-y-auto overflow-x-hidden">
            <div class="scroller-content flex flex-col justify-end min-h-full">
            </div>
        </main>

        <%# Send message container %>
        <div class="flex-initial bg-primary bottom-0 w-screen py-2 rounded-b-lg">
            <div class="flex justify-center items-center bg-vdark-gray rounded-full py-1 w-10/12 mx-auto">
                <form class="chat--form flex justify-between  bg-vdark-gray rounded-full px-4 py-1 w-full mx-auto">
                    <input id="msg" class="bg-transparent outline-none w-11/12" type="text" placeholder="Napisz na kanał" autocomplete="off" required>
                    <button>
                        <svg version="1.1" class="h-5 w-5" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" fill="#c1c2c6">
                        <path d="M29.3,2.6c-0.3-0.2-0.7-0.3-1-0.2L3,11.7c-0.4,0.1-0.7,0.5-0.7,0.9c0,0.4,0.3,0.8,0.7,0.9l10.2,3.8l10-10
                            c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-9.8,9.8l6.6,10.6c0.2,0.3,0.5,0.5,0.8,0.5c0.1,0,0.1,0,0.2,0c0.4-0.1,0.7-0.4,0.8-0.7l6.2-25.2
                            C29.7,3.3,29.6,2.9,29.3,2.6z"/>
                        </svg>
                    </button>
                </form>
            </div>  
        </div>
    </section>

    <%# Users list panel %>
    <section class="users-list-panel absolute right-0 hidden flex-col w-10/12 h-screen px-2 z-40">
        <%# Channel info %>
        <div class="flex items-center bg-dark-gray p-4 w-full rounded-t-lg">
            <%# Channel type %>
            <div class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#babbc0">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                </svg>
            </div>

            <%# Channel name %>
            <p class="text-xl font-bold">główny</p>
        </div>

        <div class="users-list-active flex-auto bg-primary h-full p-2 rounded-b-lg">
            <div>
                <p class="ml-4 mb-4 text-sm font-bold text-gray-200">DOSTĘPNY – <span class="active-users"></span></p>
                <ul class="active-users-list ml-4">
                </ul>
            </div>

            <!-- <div>
                <p class="ml-8 text-sm font-bold text-gray-200">NIEDOSTĘPNY - 0</p>
                <ul>
                    <li>

                    </li>
                </ul>
            </div> -->
        </div>
    </section>

    <%# Rooms list panel %>
    <section class="rooms-list-panel absolute left-0 flex-col w-auto h-screen p-3 z-40">
        <div>
            <ul>
                <li><button class="h-12 w-12 bg-button rounded-full mb-2"></button></li>
                <li><button class="relative h-12 w-12 bg-button rounded-full mb-2 curr-room"></button></li>
                <li><button class="h-12 w-12 bg-button rounded-full mb-2"></button></li>
            </ul>
        </div>
    </section>

    <%# Rooms list panel %>
    <nav class="menu absolute h-16 -bottom-16 w-screen bg-vvdark-gray z-50 transition-transform">
        <ul class="flex justify-around items-center h-full">
            <li><button>DISCORD</button></li>
            <li><button>PROFILE</button></li>
        </ul>
    </nav>

    <script src='/socket.io/socket.io.js'></script>
    <script src='js/script.js'></script>
    <script src='js/swiped-events.min.js'></script>
    <script src='js/home.js'></script>
</body>
</html>