<!DOCTYPE html>
<html lang="pl">

<%- include('./partials/head') %>

<body class="bg-primary m-0 text-white font-sans">
    <!-- ChatCord Logo -->
    <div class="mt-6">
        <img class="h-6 mx-auto" src="./imgs/chatcord-text-logo-white.png" alt="ChatCord Logo">
    </div>

    <div class="w-11/12 mx-auto mt-28">
        <h1 class="font-semibold text-2xl mb-6 text-center">Załóż konto</h1>

        
    </div>
</body>
</html>